.button {
  border-radius: 4px;
  border: 0px;
  color: var(--first-contrast-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  border: transparent;

  transition-property: var(--section-bg-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button.primary {
  color: var(--first-contrast-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /*padding: 10px 32px;*/
  padding: 10px 32px 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: auto;
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}

.button.primary:hover,
.button.primary:focus {
  background-color: rgba(24, 140, 232, 1);
  color: var(--second-font-color);
}

.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button.secondary {
  color: var(--title-text-color);
  background-color: rgba(245, 244, 250, 1);
  line-height: 1.62;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  /*padding: 6px 22px;*/
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-list .current,
.button.secondary:hover,
.button.secondary:focus {
  color: var(--first-contrast-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms;
}

.button-list .btn + .btn {
  margin-left: 8px;
}

.button-list .current-btn,
.button.secondary:hover,
.button.secondary:focus {
  color: var(--first-contrast-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms;
}

.button-list .btn + .btn {
  margin-left: 8px;
}
