$title-text-color: #212121;
$text-color: #757575;
$accent-color: rgba(33, 150, 243, 1);
$accent-color-dark: rgba(24, 140, 232, 1);
$first-contrast-text-color: #ffffff;
$second-contact-text-color: rgba(255, 255, 255, 0.6);

$primary-bg-color: rgba(255, 255, 255, 1);
$dark-bg-color: #2f303a;
$section-bg-color: #e5e5e5;

$main-vector-color: #afb1b8;
$second-vector-color: rgba(255, 255, 255, 1);
$timing-function: (0.4, 0, 0.2, 1);

$icon-black: rgba(117, 117, 117, 1);
$icon-white: #fff;

$basic-margin: 30px;
